body {
  background-color: whitesmoke;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl {
  min-width: auto;
  width: auto;
}
.mapboxgl-ctrl-geocoder--input {
  min-width: auto;
  width: 100%;
}

.item-description {
  justify-content: space-between;
  display: flex;
}