body {
  background-color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl {
  min-width: auto;
  width: auto;
}
.mapboxgl-ctrl-geocoder--input {
  min-width: auto;
  width: 100%;
}

.item-description {
  justify-content: space-between;
  display: flex;
}
.header {
  font-weight: 400;
}
.item {
  font-size: 0.95rem;
  font-weight: 300;
}